.home__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 90vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: hsla(207.90697674418607, 68.25%, 12.35%, 1.00);
  color: #fff;
}

.home-header__column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 30px;
  min-width: 40px;
  padding: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 2px none #fff;
}

.home-header__column.header__logo-1 {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.header__para {
  margin-top: 24px;
  font-size: 20px;
}

.header__input-field {
  padding-left: 6px;
  border-style: none none solid;
  border-width: 1px;
  border-color: #000 #000 hsla(0, 0%, 100%, .6);
  background-color: transparent;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: hsla(0, 0%, 100%, .99);
  font-size: 20px;
  line-height: 24px;
}

.header__input-field:hover {
  padding-bottom: 14px;
  padding-left: 6px;
  border-bottom-width: 2px;
  border-bottom-color: #fff;
}

.header__input-field:active {
  border-bottom-color: #fcfcfc;
}

.header__input-field:focus {
  border-bottom-width: 2px;
  border-bottom-color: #fff;
}

.header__input-field::-webkit-input-placeholder {
  color: hsla(0, 0%, 100%, .6);
  font-size: 20px;
}

.header__input-field:-ms-input-placeholder {
  color: hsla(0, 0%, 100%, .6);
  font-size: 20px;
}

.header__input-field::-ms-input-placeholder {
  color: hsla(0, 0%, 100%, .6);
  font-size: 20px;
}

.header__input-field::placeholder {
  color: hsla(0, 0%, 100%, .6);
  font-size: 20px;
}

.header__field-container {
  width: 50%;
  padding-right: 20px;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 55px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.form.footer__form {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.submit-button {
  margin-top: 48px;
  padding: 14px 40px;
  border-radius: 4px;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(hsla(25.75342465753424, 100.00%, 57.06%, 1.00)), to(hsla(1.046511627906973, 86.87%, 61.18%, 1.00)));
  background-image: linear-gradient(90deg, hsla(25.75342465753424, 100.00%, 57.06%, 1.00), hsla(1.046511627906973, 86.87%, 61.18%, 1.00));
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

.submit-button:hover {
  padding-right: 48px;
  padding-left: 48px;
  background-image: -webkit-gradient(linear, left top, right top, from(hsla(25.75342465753424, 100.00%, 57.06%, 1.00)), to(hsla(1.046511627906973, 86.87%, 61.18%, 1.00)));
  background-image: linear-gradient(90deg, hsla(25.75342465753424, 100.00%, 57.06%, 1.00), hsla(1.046511627906973, 86.87%, 61.18%, 1.00));
}

.submit-button.footer__submit-button {
  background-color: transparent;
}

.heading {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 52px;
  line-height: 64px;
  font-style: italic;
  font-weight: 700;
}

.header-img-container {
  position: relative;
  overflow: hidden;
  width: 60%;
  margin: 24px;
  padding: 0px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border-radius: 20px;
}

.header-img {
  display: block;
  margin-left: auto;
  border-radius: 0px;
}

.body {
  font-family: futura-pt, sans-serif;
}

.image {
  position: absolute;
  left: auto;
  top: auto;
  right: 4%;
  bottom: 4%;
  width: 70%;
  max-width: 360px;
}

.field-label {
  display: none;
}

.field-label-2 {
  display: none;
}

.header-logo {
  width: 90px;
}

.s1__how-it-works {
  width: 100%;
  padding-top: 68px;
  padding-bottom: 68px;
}

.s1__heading {
  margin-bottom: 10px;
  background-color: transparent;
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: #0a2135;
  font-size: 72px;
  line-height: 86px;
  font-style: italic;
  text-align: center;
}

.s1__heading.s1__heading-small {
  margin-bottom: 10px;
  font-size: 52px;
  line-height: 55px;
  text-align: left;
}

.s1__heading.s1__numbering {
  margin-top: -54px;
  margin-bottom: -95px;
  padding-bottom: 0px;
  color: #d7e2e8;
  font-size: 172px;
  line-height: 172px;
  font-style: normal;
  font-weight: 600;
  text-align: left;
}

.s1__heading.s1__top-heading {
  margin-bottom: 180px;
}

.s1__heading.footer__heading {
  max-width: 1050px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 24px;
  padding-left: 24px;
  color: #fff;
  font-size: 62px;
  line-height: 72px;
}

.s1__inner-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  min-height: 200px;
  margin: 80px auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.s1__inner-block.s1__inner-block-alternate {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.s1__text-container {
  width: 70%;
  max-width: 536px;
  min-height: 200px;
  padding-right: 58px;
  padding-left: 58px;
}

.paragraph {
  margin-top: 18px;
  color: #7d8e96;
  font-size: 24px;
  line-height: 32px;
}

.footer_cta {
  overflow: hidden;
  min-height: 400px;
  padding-top: 90px;
  padding-bottom: 86px;
  background-color: #0a2135;
}

.footer__form-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: left;
}

.footer__img {
  position: relative;
  top: 131px;
}

.header__success-message {
  margin-top: 38px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 8px;
  background-color: hsla(0, 0%, 100%, .2);
  -webkit-transform: skew(-12deg, 0deg);
  -ms-transform: skew(-12deg, 0deg);
  transform: skew(-12deg, 0deg);
  color: #fff;
  font-size: 20px;
}

.success-message-text {
  -webkit-transform: skew(12deg, 0deg);
  -ms-transform: skew(12deg, 0deg);
  transform: skew(12deg, 0deg);
}

.error-message {
  margin-top: 23px;
  padding: 17px 28px;
  border-bottom: 2px none #ff3838;
  border-radius: 10px;
  background-color: rgba(80, 126, 251, .13);
  -webkit-transform: skew(-12deg, 0deg);
  -ms-transform: skew(-12deg, 0deg);
  transform: skew(-12deg, 0deg);
  font-size: 20px;
}

.error-message-text {
  -webkit-transform: skew(12deg, 0deg);
  -ms-transform: skew(12deg, 0deg);
  transform: skew(12deg, 0deg);
  color: #ff7a7a;
}

@media (max-width: 991px) {
  .home__header {
    padding-bottom: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .home-header__column {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
  .home-header__column.header__logo-1 {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .header-img-container {
    width: 80%;
    height: 400px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .header-img {
    min-width: 100%;
    margin-top: -109px;
    margin-right: auto;
    margin-left: auto;
  }
  .header-logo {
    width: 80px;
  }
  .s1__heading.s1__heading-small {
    font-size: 48px;
  }
  .s1__heading.s1__numbering {
    font-size: 152px;
    line-height: 142px;
  }
  .s1__heading.footer__heading {
    font-size: 52px;
    line-height: 63px;
  }
  .s1__text-container {
    min-width: 70%;
  }
  .paragraph {
    font-size: 20px;
    line-height: 28px;
  }
  .s1__image-container {
    display: block;
    width: 35%;
    min-width: 35%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
}

@media (max-width: 767px) {
  .home__header {
    padding-bottom: 54px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(203.33333333333331, 78.49%, 9.34%, 0.82)), to(hsla(203.33333333333331, 78.49%, 9.34%, 0.82))), url('../images/john-t-467881-unsplash-1.jpg');
    background-image: linear-gradient(180deg, hsla(203.33333333333331, 78.49%, 9.34%, 0.82), hsla(203.33333333333331, 78.49%, 9.34%, 0.82)), url('../images/john-t-467881-unsplash-1.jpg');
    background-position: 0px 0px, 100% 50%;
    background-size: auto, cover;
  }
  .header__field-container {
    width: 100%;
    padding-bottom: 28px;
  }
  .submit-button {
    width: auto;
    margin-top: 1px;
  }
  .header-img-container {
    display: none;
  }
  .s1__heading.s1__heading-small {
    text-align: center;
  }
  .s1__heading.s1__numbering {
    text-align: center;
  }
  .s1__heading.s1__top-heading {
    margin-bottom: 80px;
    font-size: 56px;
  }
  .s1__heading.footer__heading {
    font-size: 41px;
    line-height: 52px;
  }
  .s1__inner-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .s1__inner-block.s1__inner-block-alternate {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .s1__text-container {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
  }
  .s1__image-container {
    width: 80%;
    margin-bottom: 28px;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }
  .s1__image {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 479px) {
  .home__header {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(21%, hsla(203.33333333333331, 74.32%, 10.33%, 0.99)), to(hsla(203.33333333333331, 51.43%, 13.73%, 0.20))), url('../images/john-t-467881-unsplash-1.jpg');
    background-image: linear-gradient(180deg, hsla(203.33333333333331, 74.32%, 10.33%, 0.99) 21%, hsla(203.33333333333331, 51.43%, 13.73%, 0.20)), url('../images/john-t-467881-unsplash-1.jpg');
    background-position: 0px 0px, 100% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
  }
  .home-header__column {
    width: 90%;
    padding: 20px 14px;
  }
  .home-header__column.header__logo-1 {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .header__para {
    margin-top: 8px;
    line-height: 24px;
  }
  .header__field-container {
    padding-right: 0px;
  }
  .submit-button {
    width: 100%;
  }
  .heading {
    font-size: 28px;
    line-height: 34px;
  }
  .header-img-container {
    height: auto;
  }
  .header-img {
    display: none;
    margin-top: 0px;
  }
  .image {
    width: 90%;
  }
  .header-logo {
    width: 40px;
  }
  .s1__heading.s1__heading-small {
    font-size: 42px;
    line-height: 44px;
  }
  .s1__heading.s1__numbering {
    font-size: 142px;
    line-height: 172px;
  }
  .s1__heading.footer__heading {
    font-size: 36px;
    line-height: 44px;
  }
  .s1__inner-block {
    margin-bottom: 120px;
  }
  .footer_cta {
    padding-top: 52px;
    padding-bottom: 90px;
  }
}

